:host {
  display: block;
}

.card {
  border-radius: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

p-table {
  margin-top: 1rem;
}

th {
  font-weight: 600;
}

button[pButton] {
  min-width: 100px;
}
