:host {
  display: block;
}

p-card {
  border-radius: 1rem;
  max-width: 800px;
  margin: 0 auto;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

h2 {
  margin: 0;
  color: var(--text-color);
  margin-bottom: 1.5rem;
}

label {
  font-weight: 500;
}

input[pInputText],
p-dropdown {
  font-size: 0.95rem;
}

button[pButton] {
  min-width: 120px;
}
