<div class="mb-4 p-4">
  <p-card>
    <h2>Registro de Movimentação de Estoque</h2>

    <form class="grid mt-4" [formGroup]="form" (ngSubmit)="salvar()">
      <!-- Produto -->
      <div class="col-12 md:col-6">
        <label for="produto" class="block mb-2">Produto</label>
        <p-dropdown
          inputId="produto"
          [options]="produtos"
          formControlName="produtoId"
          optionLabel="nome"
          optionValue="id"
          placeholder="Selecione um produto"
          class="w-full">
        </p-dropdown>
      </div>

      <!-- Tipo -->
      <div class="col-12 md:col-6">
        <label for="tipo" class="block mb-2">Tipo de Movimentação</label>
        <p-dropdown
          inputId="tipo"
          [options]="tiposMovimentacao"
          formControlName="tipo"
          optionLabel="label"
          optionValue="value"
          placeholder="Selecione o tipo"
          class="w-full">
        </p-dropdown>
      </div>

      <!-- Quantidade -->
      <div class="col-12 md:col-4">
        <label for="quantidade" class="block mb-2">Quantidade</label>
        <p-inputNumber
          inputId="quantidade"
          formControlName="quantidade"
          [min]="1"
          class="w-full">
        </p-inputNumber>
      </div>

      <!-- Motivo -->
      <div class="col-12 mt-3">
        <label for="motivo" class="block mb-2">Motivo (opcional)</label>
        <textarea
          id="motivo"
          rows="3"
          pInputText
          class="w-full"
          formControlName="motivo">
        </textarea>
      </div>

      <!-- Botões -->
      <div class="col-12 flex gap-2 mt-4 flex-wrap">
        <button
          pButton
          type="submit"
          label="Salvar"
          icon="pi pi-save">
        </button>

        <button
          pButton
          type="button"
          label="Cancelar"
          class="p-button-text"
          (click)="cancelar()">
        </button>
      </div>
    </form>
  </p-card>
</div>
